.banner {
    max-height: 550px;
    color: white;
    object-fit: contain;
}

.banner_content {
    margin-left: 50px;
    padding-top: 150px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    margin-bottom: 7px;
}

.banner_description{
    width: 30rem;
    font-weight: bold;
    margin-top:20px ;
}
.banner_button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
}

.banner_button:hover {
    background-color: white;
    color: black;
    transition: all 0.2s;
}

.banner--fadeBottom{
    height: 13rem;
    background-image: linear-gradient(
        180deg ,
        transparent,
        rgba(37,37,37,0.6),
        #111
    )
}